.ItemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  padding: 20px;
  margin-top: -30px;
}

.ItemListContainer h2 {
  margin-bottom: 10px;
  color:rgb(201, 101, 101);
}


.item-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}