.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative;
}

.cart-page {
    padding: 20px;
}

.cart-page h1 {
    text-align: center;
}

.empty-cart-message {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
}

.cart-item__details {
    flex-grow: 1;
    margin-left: 20px;
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.cart-item__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
    position: absolute;
    right: 10px;
    top: 50px;
    padding: 5px 10px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #d32f2f;
}

.cart-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;

}

.cart-summary p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 10;
}

.cart-actions {
    display: flex;
    gap: 10px;
}

.cart-actions button {
    padding: 10px 20px;
    background-color: #e53935;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-actions button:hover {
    background-color: #d32f2f;
}

.clear-button {
    background-color: #e53935;
}

.clear-button:hover {
    background-color: #d32f2f;
}

.store-button {
    padding: 10px 20px;
    background-color: #e53935;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s;
}

.store-button:hover {
    background-color: #d32f2f;
}

.checkout-button {
    background-color: #4CAF50;
}

.checkout-button:hover {
    background-color: #45a049;
}