
/* Estilos do carrinho (Cart.css) */


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    position: relative; /* Adicionando posição relativa para o alinhamento do botão Remover */
}

.cart-page {
    padding: 20px;
}

.cart-page h1 {
    text-align: center; /* Centraliza o h1 */
}

.empty-cart-message {
    text-align: center; /* Centraliza a mensagem do carrinho vazio */
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
}

.cart-item__details {
    flex-grow: 1; /* Ocupa o restante do espaço disponível */
    margin-left: 20px;
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centraliza o contêiner */
    max-width: 800px; /* Defina a largura máxima desejada */
}

.cart-item__image {
    width: 60px; /* Diminuindo o tamanho da imagem */
    height: 60px; /* Diminuindo o tamanho da imagem */
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
    position: absolute;
    right: 10px; /* Alinha o botão Remover à direita do container */
    top: 50px; /* Alinha verticalmente dentro do item */
    padding: 5px 10px;
    background-color: #e53935; /* Cor em tom de rosa */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #d32f2f; /* Cor mais escura quando passar o mouse */
}

.cart-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    
}

.cart-summary p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 10;
}

.cart-actions {
    display: flex;
    gap: 10px;
}

.cart-actions button {
    padding: 10px 20px;
    background-color: #e53935; /* Botões em tons de rosa */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-actions button:hover {
    background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
}

.clear-button {
    background-color: #e53935; /* Cor de destaque rosa */
}

.clear-button:hover {
    background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
}

.checkout-button {
    background-color: #4CAF50;
}

.checkout-button:hover {
    background-color: #45a049;
}
