
/* Estilos do carrinho (Cart.css) */
.cart-page {
    padding: 20px;
}

.cart-items-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.cart-item__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item__details {
    flex-grow: 1; /* Ocupa o restante do espaço disponível */
    margin-left: 20px;
}

.cart-item__details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.cart-item__details p {
    margin: 5px 0;
}

.remove-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #e53935;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-summary p {
    font-size: 1.4rem;
    font-weight: bold;
}

.cart-actions {
    display: flex;
    gap: 10px;
}

.cart-actions button {
    padding: 10px 20px;
    background-color: #f7c92e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-actions button:hover {
    background-color: #e0b324;
}

.clear-button {
    background-color: #f44336;
}

.clear-button:hover {
    background-color: #e53935;
}

.checkout-button {
    background-color: #4CAF50;
}

.checkout-button:hover {
    background-color: #45a049;
}
