.ItemListContainer {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 80vh; /* Define uma altura para centralizar verticalmente */
  text-align: center; /* Centraliza o texto dentro do contêiner */
  padding: 20px;
  margin-top: 40px; /* Adiciona espaço entre o NavBar e o ItemListContainer */
}